.preference-filter-block {
  @include indentation(padding, (15, 25), (0));

  .preference-filter__item {
    @include indentation(margin, (15, 25), (0));

    .preference-filter-label {
      font-family: Circular Std, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      @include propsSize(line-height, 36, 42);
      color: #292949;
    }

    .common-style-form-item {
      @include propsSize(width, 190, 245);
    }

    .common-selected-preference-elem {
      position: relative;
      @include propsSize(height, 32, 40);
      @include indentation(margin, (18, 30), (10, 15), (0), (0));
      @include indentation(padding, (0), (10, 15));
      @extend %fontStyleRoboto;
      @include font(13);
      @extend %flexRowCenterCenter;
      background: #F5F8FE;
      border-radius: 4px;
      line-height: 163.6%;
      letter-spacing: 0.03em;
      color: #7B819A;

    }

    .common-checked-preference__block {
      @include propsSize(height, 36, 48);
      @extend %flexRowBetweenCenter;
      width: 100%;
      border: 1px solid #E3E7ED;
      box-sizing: border-box;
      border-radius: 5px;
    }

    .common-checked-preference-elem {
      @extend %flexRowCenterCenter;
      @include propsSize(padding, 14, 17);

      .common-check-box {
        @include propsSize(margin-right, 6, 10);
        @include propsSize(height, 11, 14);
        @include propsSize(width, 11, 14);
        cursor: pointer;
        border: 0.7px solid #7B819A;
        border-radius: 2px;
        z-index: 1000;
        color: white;
      }

      .fa-star {
        color: #C6CAD9;
        @include font(12);

        &.active {
          color: #FFD645;
        }
      }

      &.active {
        .common-check-box {
          position: relative;
          border: 1px solid #61DBB4;
          background: #61DBB4;
          border-radius: 2px;;

          &:after {
            @include font(11);
            font-weight: 800;
            position: absolute;
            content: '\2713';
            top: -2px;
            left: 2px;
          }
        }
      }
    }
  }
}
